<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div
        class="flex-1 flex items-center pl-4 sm:pl-0 lg:items-stretch justify-start sm:items-start"
      >
        <a
          class="flex-shrink-0 flex items-center text-white text-3xl font-semibold"
          [routerLink]="'/'"
        >
          <hero-icon name="chat-alt-2" class="lg:block h-8 mr-3"></hero-icon>
          <span>Snak</span>
        </a>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <div class="ml-3 flex flex-wrap content-start">
          <div
            *ngIf="username$ | async; else notLoggedIn"
            class="text-gray-300 rounded-md text-base font-medium"
          >
            <hero-icon
              name="user-circle"
              class="h-6 w-6 mx-2 text-white pt-2 text-3xl"
            ></hero-icon>
            {{ username$ | async }}
            <button
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-base font-medium mx-2"
              (click)="logout()"
              [routerLink]="'/'"
            >
              Log out
            </button>
          </div>
          <ng-template #notLoggedIn class="flex flex-wrap content-start">
            <button
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-base font-medium mx-2"
              [routerLink]="'/register'"
            >
              Register
            </button>
            <button
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-base font-medium mx-2"
              [routerLink]="'/login'"
            >
              Log in
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>
