<app-nav-bar></app-nav-bar>
<div
  style="min-height: calc(100vh - 64px)"
  class="flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-md w-full space-y-8">
    <div>
      <div
        class="mx-auto h-12 w-auto text-4xl md:text-5xl space-x-3 flex flex-wrap content-center justify-center text-gray-800 font-bold"
      >
        <hero-icon name="chat-alt-2"></hero-icon>
        <span>Snak</span>
      </div>
      <h2 class="md:mt-6 text-center text-3xl font-extrabold text-gray-900">
        Create a new account
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <a
          [routerLink]="'/login'"
          class="font-medium text-indigo-600 hover:text-indigo-500"
        >
          sign in with your existing account
        </a>
      </p>
    </div>
    <form
      class="mt-8 space-y-6"
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()"
    >
      <input type="hidden" name="remember" value="true" />
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="username" class="sr-only">Username</label>
          <input
            id="username"
            name="username"
            type="text"
            formControlName="username"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Username"
          />
          <div
            *ngIf="
              submitted &&
              registrationForm.controls['username'].errors?.required
            "
          >
            <span
              class="flex items-center font-medium tracking-wide text-red-500 text-xs my-1 ml-1"
            >
              Please provide a username.
            </span>
          </div>
          <div *ngIf="submitted && !success">
            <span
              class="flex items-center font-medium tracking-wide text-red-500 text-xs my-1 ml-1"
            >
              {{ (signUpMessage$ | async)?.error }}
            </span>
          </div>
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            formControlName="password"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Password"
          />
          <div
            *ngIf="
              submitted &&
              registrationForm.controls['password'].errors?.required
            "
          >
            <span
              class="flex items-center font-medium tracking-wide text-red-500 text-xs my-1 ml-1"
            >
              Please provide a password.
            </span>
          </div>
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            id="confirm-password"
            name="password"
            type="password"
            formControlName="confirmPassword"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Confirm password"
          />
          <div
            *ngIf="
              submitted &&
              registrationForm.controls['confirmPassword'].errors?.required
            "
          >
            <span
              class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
            >
              Please repeat your password.
            </span>
          </div>
          <div
            *ngIf="
              registrationForm.controls['confirmPassword'].dirty &&
              !registrationForm.controls['confirmPassword'].valid
            "
          >
            <span
              class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
            >
              Passwords did not match. Please try again.
            </span>
          </div>
        </div>
      </div>

      <div>
        <!-- [disabled]="registrationForm.invalid" -->
        <button
          type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg
              class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
          Create a new account
        </button>
      </div>
    </form>
  </div>
</div>
