<p>chat-room works!</p>
{{ chatMessages$ | async | json }}
<form class="mt-8 space-y-6" [formGroup]="chatForm" (ngSubmit)="onSubmit()">
  <input
    id="message"
    name="message"
    type="text"
    formControlName="message"
    required
    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
    placeholder="Type your message"
  />
  <button type="submit">Send</button>
</form>
